.menu {
  display: block;
  margin-top: 52px;

  &__card_container {
    display: flex;
    justify-content: space-between;
  }

  &__card_next {
    display: block;
  }

  &__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    width: 570px;
    height: 320px;
    border: 1px solid var(--orange-color);

    &_desc {
      color: var(--orange-color);
      font-family: 'Montserrat', sans-serif;
      font-weight: 900;
      font-size: 48px;
    }

    &_img {
      margin-right: 10px;
      width: 230px;
      height: 300px;
    }

    &_btn {
      display: block;
      width: 59px;
      height: 59px;
      margin-top: 44px;
      margin-left: 241px;
      align-items: center;
      background: none;
      border: none;
      cursor: pointer;
      justify-self: end;


      &:hover {
        transition: .5s ease-in;
        border-radius: 15px;
        background: var(--white-color);
      }
    }
  }

  &__unique {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 134px;
    margin-top: 30px;
    border: 1px solid var(--orange-color);

    &_header {
      margin-left: 45px;
      font-weight: bold;
      margin-right: 10px;
      color: var(--orange-color);
    }

    &_btn {
      display: flex;
      width: 59px;
      height: 59px;
      background: none;
      align-items: center;
      justify-content: center;
      border: none;
      cursor: pointer;

      &:hover {
        transition: .5s ease-in;
        border-radius: 15px;
        background: var(--white-color);
      }
    }
  }
}