.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.header {
  display: block;
  padding: 59px 0 59px 0;
}

.main {
  display: block;
  margin-top: 25px;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
}