.footer {
  display: block;
  height: 180px;
  font-family: 'Montserrat', sans-serif;

  &_logo {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: var(--orange-color);
    font-size: 1.5em;
    font-weight: 900;
    user-select: none;
  }

  &__social {
    display: flex;
    justify-content: space-between;

    &_icon_container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 70px;
    }

    &_descr {
      color: var(--white-color);
      font-size: 13px;
      font-weight: 400;
    }
  }

  &_icon {
    margin-top: 12px;
    width: 18px;
    height: 18px;
    cursor: pointer;
  }

  &__about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    &_container {
      display: flex;
      justify-content: space-between;
      width: 650px;
    }

    &_links {
      text-decoration: none;
      color: var(--gray-color);
    }

    &_btn {
      width: 361px;
      height: 60px;
      background: var(--orange-color);
      border: none;
      cursor: pointer;

      &:hover {
        transition: .5s ease-in;
        border-radius: 10px;
        background: var(--white-color);
      }
    }
  }
}